<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/weather_db</property>
        <property name="hibernate.connection.username">shreder</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="persistence.entity.User" />
        <mapping class="persistence.entity.Location" />
        <mapping class="persistence.entity.Session" />
    </session-factory>
</hibernate-configuration>